@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700');
body,
p,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 35vw;
    height: 15vw;
    background: linear-gradient(#111, #333, #111);
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow: 10px 10px 10px 5px #000;
    text-align: center;
}

.words {
    font-size: 5vw;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    transform: scale(1.3, 1.0);
    background-image: linear-gradient(to right, #E0F8F7, #585858, #fff);
    color: transparent;
    clip-path: text;
    background-clip: text;
}
